{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<style>
       .important{
               font-weight: 700;
               color: #f00;
       }
       .important1 a{
               font-weight: 700;
               color: #f0f;
       }
</style>
{%
    set classes = [
    'bla',
    fields.field_important.content.value == '1' ? 'important' : '12',


    'important1' ? fields.field_important.value == '1' : '34',
]
%}
{#{% for i in 0..5 %}#}
        <div class="">
            {#{{ dump(fields.content|date("H:i")) }}#}
            {{ fields.content|date("H:i") }}

            {{ fields.title.content }}
            {#{{ dump(fields.title.content) }}#}

            {#{% if field_important.content == '1' %}#}
                    {#<span class="important">#}
                        {#{{ fields.title.content }}#}
                    {#</span>#}
                {#{% else %}#}
                    {#<span class="important1">{{ fields.title.content }}</span>#}
            {#{% endif %}#}



            {#{{ fields.field_important.content }}#}


        </div>
{#{% endfor %}#}



